---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app pocket-id
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: pocket-id
  values:
    controllers:
      pocket-id:
        annotations:
          reloader.stakater.com/auto: "true"
        initContainers:
          init-db:
            image:
              repository: ghcr.io/home-operations/postgres-init
              tag: 18.3
            envFrom: &envFrom
              - secretRef:
                  name: pocket-id-secret
        containers:
          app:
            image:
              repository: ghcr.io/pocket-id/pocket-id
              tag: v2.3.0@sha256:3e3714a7efe20ade573c77844955ce3d096455f8b1f888068ec32a874792f781
            env:
              APP_URL: https://oidc.porkboi.io
              DB_PROVIDER: postgres
              UPLOAD_PATH: /app/data/uploads
              ANALYTICS_DISABLED: true
              ALLOW_USER_SIGNUPS: open
              TRUST_PROXY: true
              TZ: America/Boise
            envFrom: *envFrom
            securityContext:
              allowPrivilegeEscalation: false
              capabilities: { drop: ["ALL"] }
              readOnlyRootFilesystem: true
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
        supplementalGroups: [100]

    service:
      app:
        ports:
          http:
            port: 1411

    route:
      app:
        hostnames:
          - oidc.porkboi.io
        parentRefs:
          - name: envoy-external
            namespace: network
            
    persistence:
      data:
        existingClaim: "{{ .Release.Name }}"
        globalMounts:
          - path: /app/data
      var:
        type: emptyDir
        sizeLimit: 1Gi