app-template:
  controllers:
    main:
      containers:
        app:
          image:
            repository: ghcr.io/unpoller/unpoller
            tag: v2.14.1
          env:
            TZ: America/Boise
            UP_UNIFI_DEFAULT_ROLE: porkboi
            UP_UNIFI_DEFAULT_URL: https://10.0.0.1
            UP_UNIFI_DEFAULT_VERIFY_SSL: false
            UP_UNIFI_DEFAULT_USER: unifipoller
            UP_UNIFI_DEFAULT_PASS: tHym9sv9EeXqM6pwRk2s
            UP_INFLUXDB_DISABLE: true
          resources:
            requests:
              cpu: 5m
              memory: 36M
            limits:
              memory: 128M
      pod:
        securityContext:
          runAsUser: 1000
          runAsGroup: 1000
  service:
    app:
      controller: main
      ports:
        http:
          port: 9130
  serviceMonitor:
    app:
      serviceName: unpoller
      enabled: true
      endpoints:
        - port: http
          scheme: http
          path: /metrics
          interval: 2m # Unifi API only polls at 2m intervals
          scrapeTimeout: 10s