---
apiVersion: v1
kind: Secret
metadata:
  name: onepassword-secret
  namespace: external-secrets
stringData:
  1password-credentials.json: op://kube-secrets/1password/OP_CREDENTIALS_JSON
  token: op://kube-secrets/1password/OP_CONNECT_TOKEN
---
apiVersion: v1
kind: Secret
metadata:
  name: sops-age-secret
  namespace: flux-system
stringData:
  age.agekey: op://kube-secrets/sops/SOPS_PRIVATE_KEY
---
apiVersion: v1
kind: Secret
metadata:
  name: cloudflare-tunnel-id-secret
  namespace: network
stringData:
  CLOUDFLARE_TUNNEL_ID: op://kube-secrets/cloudflare/CLOUDFLARE_TUNNEL_ID
---
apiVersion: v1
kind: Secret
metadata:
  name: iot-ipv6
  namespace: default
stringData:
  IPV6_IOT_PREFIX: op://kube-secrets/iot-v6/IOT_V6_PREFIX
---
apiVersion: v1
kind: Secret
metadata:
  name: iot-ipv6
  namespace: kube-system
stringData:
  IPV6_IOT_PREFIX: op://kube-secrets/iot-v6/IOT_V6_PREFIX