/.bin/
/.go/
/.private/
/.task/
/.venv/
/scripts/
/**/charts/
*.secret.env
*.secret.yaml
*.crt
*.key
.decrypted~*
.DS_Store
Brewfile.lock.json
Thumbs.db
kubeconfig
talosconfig
Chart.lock
.infisical.json
helmfile.lock
cloudflare-tunnel.json