---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: staub-scraper
spec:
  chartRef:
    kind: OCIRepository
    name: staub-scraper
  interval: 1h
  values:
    controllers:
      staub-scraper:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/jimmy-ungerman/staubscraper
              tag: 1.0.3@sha256:d5c83cf0f5c19dbad4b08e115489d00666ce0ec1af1c0647e486d567e9f3c58c
            envFrom:
              - secretRef:
                  name: "{{ .Release.Name }}-secret"
            securityContext:
              allowPrivilegeEscalation: false
            resources:
              requests:
                cpu: "500m"
                memory: "1024Mi"
              limits:
                cpu: "1000m"
                memory: "2048Mi"
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        ports:
          http:
            port: 5000
    persistence:
      tmp:
        type: emptyDir