---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: csi-driver-nfs
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: csi-driver-nfs
  values:
    storageClass:
      create: true
      name: nfs-bench
      parameters:
        server: nas.porkboi.io
        share: /mnt/air/Kubernetes
      mountOptions:
        - nfsvers=4.2
        - hard
        - nconnect=8
        - noatime
        - rsize=1048576
        - wsize=1048576
      reclaimPolicy: Delete
      volumeBindingMode: Immediate