---
# yaml-language-server: $schema=https://kubernetes-schemas.ok8.sh/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: immich
  namespace: {{ .Release.Namespace }}
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: infisical
  target:
    name: immich-secret
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        # App
        DB_DATABASE_NAME: &dbname immich
        DB_HOSTNAME: &dbhost postgres-16-immich-rw.database.svc.cluster.local
        DB_USERNAME: &dbuser '{{ printf "{{ .IMMICH_POSTGRES_USER }}" }}'
        DB_PASSWORD: &dbpass '{{ printf "{{ .IMMICH_POSTGRES_PASSWORD }}" }}'
        JWT_SECRET: '{{ printf "{{ .IMMICH_JWT_SECRET }}" }}'

        # Postgres Init
        INIT_POSTGRES_DBNAME: *dbname
        INIT_POSTGRES_HOST: *dbhost
        INIT_POSTGRES_USER: *dbuser
        INIT_POSTGRES_PASS: *dbpass
        INIT_POSTGRES_SUPER_PASS: '{{ printf "{{ .POSTGRES_SUPER_PASS }}" }}'
  data:
    - secretKey: POSTGRES_SUPER_PASS
      remoteRef:
        key: POSTGRES_SUPER_PASS
    - secretKey: IMMICH_JWT_SECRET
      remoteRef:
        key: IMMICH_JWT_SECRET
    - secretKey: IMMICH_POSTGRES_USER
      remoteRef:
        key: IMMICH_POSTGRES_USER
    - secretKey: IMMICH_POSTGRES_PASSWORD
      remoteRef:
        key: IMMICH_POSTGRES_PASSWORD