app-template:
  controllers:
    main:
      type: statefulset
      annotations:
        reloader.stakater.com/auto: "true"
      containers:
        app:
          image:
            repository: ghcr.io/home-operations/tautulli
            tag: 2.15.1
          env:
            TZ: America/Boise
          resources:
            requests:
              cpu: 100m
              memory: 128Mi
            limits:
              memory: 512Mi
      pod:
        securityContext:
          runAsUser: 568
          runAsGroup: 568
          fsGroup: 568
          fsGroupChangePolicy: OnRootMismatch
      statefulset:
        volumeClaimTemplates:
          - name: config
            accessMode: ReadWriteOnce
            size: 5Gi
            storageClass: rook-ceph-block
            globalMounts:
              - path: /config
  service:
    app:
      controller: main
      ports:
        http:
          port: 8181
  ingress:
    app:
      enabled: true
      className: nginx
      hosts:
        - host: &host "tautulli.porkboi.io"
          paths:
            - path: /
              service:
                identifier: app
                port: http
      tls:
        - hosts:
            - *host