---
apiVersion: v1
kind: Namespace
metadata:
  name: argocd
---
apiVersion: v1
kind: Secret
metadata:
  name: sops-age
  namespace: argocd
stringData:
  age.agekey: {{ ENV.ARGO_SOPS_PRIVATE_KEY | indent(4) }}
---
apiVersion: v1
kind: Secret
metadata:
  name: argocd-secret
  namespace: argocd
stringData:
  dex.authentik.clientSecret: {{ ENV.ARGOCD_SSO_CLIENT_SECRET }}
  server.secretkey: {{ ENV.ARGOCD_SERVER_SECRET_KEY }}