---
# yaml-language-server: $schema=https://kubernetes-schemas.ok8.sh/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: authentik
  namespace: {{ .Release.Namespace }}
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: infisical
  target:
    name: authentik-secret
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        # App
        AUTHENTIK_SECRET_KEY: '{{ printf "{{ .AUTHENTIK_SECRET_KEY }}" }}'
        AUTHENTIK_POSTGRESQL__NAME: &dbName authentik
        AUTHENTIK_POSTGRESQL__HOST: &dbHost postgres-17-rw.database.svc.cluster.local
        AUTHENTIK_POSTGRESQL__USER: &dbUser '{{ printf "{{ .AUTHENTIK_POSTGRESQL__USER }}" }}'
        AUTHENTIK_POSTGRESQL__PASSWORD: &dbPass '{{ printf "{{ .AUTHENTIK_POSTGRESQL__PASSWORD }}" }}'
        AUTHENTIK_REDIS__HOST: dragonfly.database.svc.cluster.local
        AUTHENTIK_REDIS__PORT: "6379"
        AUTHENTIK_REDIS__DB: "3"

        # Postgres Init
        INIT_POSTGRES_DBNAME: *dbName
        INIT_POSTGRES_HOST: *dbHost
        INIT_POSTGRES_USER: *dbUser
        INIT_POSTGRES_PASS: *dbPass
        INIT_POSTGRES_SUPER_PASS: '{{ printf "{{ .POSTGRES_SUPER_PASS }}" }}'
  data:
    - secretKey: POSTGRES_SUPER_PASS
      remoteRef:
        key: POSTGRES_SUPER_PASS
    - secretKey: AUTHENTIK_SECRET_KEY
      remoteRef:
        key: AUTHENTIK_SECRET_KEY
    - secretKey: AUTHENTIK_POSTGRESQL__USER
      remoteRef:
        key: AUTHENTIK_POSTGRESQL__USER
    - secretKey: AUTHENTIK_POSTGRESQL__PASSWORD
      remoteRef:
        key: AUTHENTIK_POSTGRESQL__PASSWORD