---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: sonarr
  namespace: {{ .Release.Namespace }}
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: infisical
  target:
    name: sonarr-secret
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        # App
        SONARR__AUTH__APIKEY: '{{ printf "{{ .SONARR__API__KEY }}" }}'
        SONARR__POSTGRES__HOST: &dbHost postgres-17-rw.database.svc.cluster.local
        SONARR__POSTGRES__PORT: "5432"
        SONARR__POSTGRES__USER: &dbUser '{{ printf "{{ .SONARR__POSTGRES__USER }}" }}'
        SONARR__POSTGRES__PASSWORD: &dbPass '{{ printf "{{ .SONARR__POSTGRES__PASSWORD }}" }}'
        SONARR__POSTGRES__MAINDB: sonarr_main
        SONARR__POSTGRES__LOGDB: sonarr_log
        SONARR_PUSHOVER_TOKEN: '{{ printf "{{ .SONARR_PUSHOVER_TOKEN }}" }}'
        PUSHOVER_USER_KEY: '{{ printf "{{ .PUSHOVER_USER_KEY }}" }}'
        # Postgres Init
        INIT_POSTGRES_DBNAME: sonarr_main sonarr_log
        INIT_POSTGRES_HOST: *dbHost
        INIT_POSTGRES_USER: *dbUser
        INIT_POSTGRES_PASS: *dbPass
        INIT_POSTGRES_SUPER_PASS: '{{ printf "{{ .POSTGRES_SUPER_PASS }}" }}'
  data:
    - secretKey: SONARR__API__KEY
      remoteRef:
        key: SONARR__API__KEY
    - secretKey: SONARR__POSTGRES__USER
      remoteRef:
        key: SONARR__POSTGRES__USER
    - secretKey: SONARR__POSTGRES__PASSWORD
      remoteRef:
        key: SONARR__POSTGRES__PASSWORD
    - secretKey: POSTGRES_SUPER_PASS
      remoteRef:
        key: POSTGRES_SUPER_PASS
    - secretKey: SONARR_PUSHOVER_TOKEN
      remoteRef:
        key: SONARR_PUSHOVER_TOKEN
    - secretKey: PUSHOVER_USER_KEY
      remoteRef:
        key: PUSHOVER_USER_KEY