ingress-nginx:
  controller:
    replicaCount: 1
    allowSnippetAnnotations: true
    extraEnvs:
      - name: TZ
        value: America/Boise
    service:
      type: LoadBalancer
      externalTrafficPolicy: Local
      annotations:
        "io.cilium/lb-ipam-ips": "10.3.0.7"
        external-dns.alpha.kubernetes.io/hostname: &hostname porkboi.io
    ingressClassResource:
      default: true
    config:
      block-user-agents: "AdsBot-Google,Amazonbot,anthropic-ai,Applebot-Extended,Bytespider,CCBot,ChatGPT-User,ClaudeBot,Claude-Web,cohere-ai,Diffbot,FacebookBot,FriendlyCrawler,Google-Extended,GoogleOther,GPTBot,img2dataset,omgili,omgilibot,peer39_crawler,peer39_crawler/1.0,PerplexityBot,YouBot," # taken from https://github.com/ai-robots-txt/ai.robots.txt      client-body-buffer-size: 100M    
      client-body-timeout: 120
      annotations-risk-level: Critical
      client-header-timeout: 120
      client-body-buffer-size: 100M
      enable-brotli: "true"
      enable-ocsp: "true"
      enable-real-ip: "true"
      force-ssl-redirect: "true"
      hide-headers: Server,X-Powered-By
      hsts-max-age: 31449600
      keep-alive-requests: 10000
      keep-alive: 120
      log-format-escape-json: "true"
      log-format-upstream: >
        {"time": "$time_iso8601", "remote_addr": "$proxy_protocol_addr", "x_forwarded_for": "$proxy_add_x_forwarded_for",
        "request_id": "$req_id", "remote_user": "$remote_user", "bytes_sent": $bytes_sent, "request_time": $request_time,
        "status": $status, "vhost": "$host", "request_proto": "$server_protocol", "path": "$uri", "request_query": "$args",
        "request_length": $request_length, "duration": $request_time, "method": "$request_method", "http_referrer": "$http_referer",
        "http_user_agent": "$http_user_agent"}
      proxy-body-size: 0
      proxy-buffer-size: 16k
      proxy_busy_buffers_size: 16k
      ssl-protocols: "TLSv1.3 TLSv1.2"
      use-forwarded-headers: "true"
      forwarded-for-header: "CF-Connecting-IP"
      custom-http-errors: 404,403
      large-client-header-buffers: "4 16k"
    extraArgs: 
        default-ssl-certificate: "network/porkboi-cert"
        publish-status-address: *hostname
    publishService:
      enabled: false
    metrics:
      enabled: true
      serviceMonitor:
        enabled: true
        namespace: network
        namespaceSelector:
          any: true
  defaultBackend:
    enabled: true
    image:
      repository: ghcr.io/tarampampam/error-pages
      tag: 3.3.2
    extraEnvs:
      - name: TEMPLATE_NAME
        value: ghost
      - name: SHOW_DETAILS
        value: "true"
    affinity:
      podAntiAffinity:
        preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 100
            podAffinityTerm:
              labelSelector:
                matchExpressions:
                  - key: app.kubernetes.io/name
                    operator: In
                    values: ["ingress-nginx"]
                  - key: app.kubernetes.io/component
                    operator: In
                    values: ["default-backend"]
              topologyKey: kubernetes.io/hostname