bgpControlPlane:
  enabled: true
ipam:
  mode: kubernetes
ipv4NativeRoutingCIDR: 10.42.0.0/16
loadBalancer:
  algorithm: maglev
  mode: dsr
tunnel: disabled
autoDirectNodeRoutes: true
endpointRoutes:
  enabled: true
k8sServiceHost: {{ k3s_registration_address }}
k8sServicePort: {{ k3s_server['https-listen-port'] }}
kubeProxyReplacement: strict
operator:
  replicas: 1