apiVersion: "cilium.io/v2alpha1"
kind: CiliumBGPPeeringPolicy
metadata:
 name: {{ inventory_hostname }}-bgp-peering-policy
spec: # CiliumBGPPeeringPolicySpec
 nodeSelector:
   matchLabels:
    kubernetes.io/hostname: {{ inventory_hostname }}
 virtualRouters: # []CiliumBGPVirtualRouter
 - localASN: {{ bgp_as_number }}
   exportPodCIDR: true
   neighbors: # []CiliumBGPNeighbor
    - peerAddress: {{ bgp_router_ip }}/32
      peerASN: {{ bgp_as_number }}
   serviceSelector:
      matchExpressions:
         - {key: somekey, operator: NotIn, values: ['never-used-value']}