---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: alloy
spec:
  chartRef:
    kind: OCIRepository
    name: alloy
  interval: 1h
  values:
    fullnameOverride: alloy
    serviceMonitor:
      enabled: true
    alloy:
      configMap:
        create: false
        name: alloy-configmap
        key: config.alloy
    controller:
      podAnnotations:
        configmap.reloader.stakater.com/reload: alloy-configmap