hostname UDM-SE
frr defaults traditional
log file stdout
!
router bgp {{ AS }}
 bgp ebgp-requires-policy
 bgp router-id {{ k3s_router }}
 maximum-paths 1
 maximum-paths ibgp 1
 !
 ! Peer Group k8s
 neighbor k8s peer-group
 neighbor k8s remote-as {{ AS }}
 neighbor k8s activate
 neighbor k8s soft-reconfiguration inbound
 neighbor k8s timers 15 45
 neighbor k8s timers connect 15
 !
 ! Neighbors for k8s
 {% for node in k3s_nodes %}
 neighbor {{ node }} peer-group k8s
{% endfor %}

 address-family ipv4 unicast
  redistribute connected
  !
  neighbor k8s activate
  neighbor k8s route-map ALLOW-ALL in
  neighbor k8s route-map ALLOW-ALL out
  neighbor k8s next-hop-self
 exit-address-family
 !
route-map ALLOW-ALL permit 10
!
line vty
!