apiVersion: apps/v1
kind: Deployment
metadata:
  name: argocd-repo-server
spec:
  template:
    spec:
      containers:
        - name: argocd-repo-server
          args:
          - /usr/local/bin/argocd-repo-server
          - --redis
          - argocd-redis:6379
          env:
          - name: XDG_CONFIG_HOME
            value: /.config
          - name: SOPS_AGE_KEY_FILE
            value: /.config/sops/age/key.txt
          volumeMounts:
            - mountPath: /usr/local/bin/kustomize
              name: custom-tools
              subPath: kustomize
            - mountPath: /.config/kustomize/plugin/viaduct.ai/v1/ksops/ksops
              name: custom-tools
              subPath: ksops
            - mountPath: /.config/sops/age
              name: sops-age
      initContainers:
      - name: install-ksops
        image: viaductoss/ksops:v4.2.5
        command: ["/bin/sh", "-c"]
        args:
        - 'echo "Installing KSOPS..."; mv /usr/local/bin/ksops /custom-tools/; mv /usr/local/bin/kustomize /custom-tools/; echo "Done.";'
        volumeMounts:
          - mountPath: /custom-tools
            name: custom-tools
      volumes:
      - name: custom-tools
        emptyDir: {}
      - name: sops-age
        secret:
          secretName: sops-age
