apiVersion: external-secrets.io/v1
kind: ClusterSecretStore
metadata:
  name: infisical
  annotations:
    argocd.argoproj.io/sync-wave: "2"
spec:
  provider:
    infisical:
      auth:
        universalAuthCredentials:
          clientId:
            key: clientId
            namespace: external-secrets
            name: infisical-connect-secret
          clientSecret:
            key: clientSecret
            namespace: external-secrets
            name: infisical-connect-secret
      # Details to pull secrets from
      secretsScope:
        projectSlug: pork3s-4r-mc
        environmentSlug: prod # "dev", "staging", "prod", etc..
      # optional
      hostAPI: https://app.infisical.com