---
apiVersion: v1
kind: Namespace
metadata:
  name: external-secrets
---
apiVersion: v1
kind: Secret
metadata:
  name: infisical-connect-secret
  namespace: external-secrets
stringData:
  clientId: {{ ENV.INFISICAL_CLIENT_ID }}
  clientSecret: {{ ENV.INFISICAL_CLIENT_SECRET }}