app-template:
  controllers:
    main:
      annotations:
        reloader.stakater.com/auto: "true"
      initContainers:
        init-db:
          image:
            repository: ghcr.io/onedr0p/postgres-init
            tag: 16.8
            pullPolicy: IfNotPresent
          envFrom: &envFrom
            - secretRef:
                name: prowlarr-secret
      containers:
        app:
          image:
            repository: ghcr.io/onedr0p/prowlarr-develop
            tag: 1.32.1.4983@sha256:2843eddba1d11bde19b733a9226b996775fcb39701ca0c6c1e746222ded35dc6
          env:
            TZ: America/Boise
            PROWLARR__APP__INSTANCENAME: Prowlarr
            PROWLARR__APP__THEME: dark
            PROWLARR__AUTH__METHOD: External
            PROWLARR__AUTH__REQUIRED: DisabledForLocalAddresses
            PROWLARR__LOG__DBENABLED: "False"
            PROWLARR__LOG__LEVEL: info
            PROWLARR__SERVER__PORT: &port 80
            PROWLARR__UPDATE__BRANCH: develop
          envFrom: *envFrom
          probes:
            liveness: &probes
              enabled: true
              custom: true
              spec:
                httpGet:
                  path: /ping
                  port: *port
                initialDelaySeconds: 0
                periodSeconds: 10
                timeoutSeconds: 1
                failureThreshold: 3
            readiness: *probes
            startup:
              enabled: false
          resources:
            requests:
              cpu: 10m
              memory: 128M
            limits:
              memory: 1Gi
      pod:
        securityContext:
          runAsUser: 568
          runAsGroup: 568
          fsGroup: 568
          fsGroupChangePolicy: OnRootMismatch
      
  service:
    app:
      controller: main
      ports:
        http:
          port: *port
  ingress:
    app:
      enabled: true
      className: nginx
      annotations:
        nginx.ingress.kubernetes.io/auth-url: |-
            http://authentik-server.default.svc.cluster.local:80/outpost.goauthentik.io/auth/nginx        
        nginx.ingress.kubernetes.io/auth-signin: |-
            https://prowlarr.porkboi.io/outpost.goauthentik.io/start?rd=$scheme://$http_host$escaped_request_uri
        nginx.ingress.kubernetes.io/auth-response-headers: |-
            Set-Cookie,X-authentik-username,X-authentik-groups,X-authentik-email,X-authentik-name,X-authentik-uid
        nginx.ingress.kubernetes.io/auth-snippet: |
            proxy_set_header X-Forwarded-Host $http_host;
      hosts:
        - host: &host "prowlarr.porkboi.io"
          paths:
            - path: /
              service:
                identifier: app
                port: http
            - path: /outpost.goauthentik.io
              pathType: ImplementationSpecific
              service:
                name: authentik-server
                port: 80
      tls:
        - hosts:
            - *host

  persistence:
    config:
      enabled: true
      type: emptyDir