---
# yaml-language-server: $schema=https://kubernetes-schemas.ok8.sh/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: external-dns-cloudflare
  namespace: {{ .Release.Namespace }}
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: infisical
  target:
    name: external-dns-secret-cloudflare
    creationPolicy: Owner
  data:
    - secretKey: email
      remoteRef:
        key: CLOUDFLARE_EMAIL
    - secretKey: api-key
      remoteRef:
        key: CLOUDFLARE_APIKEY