---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: overseerr
  namespace: argocd
  annotations:
    notifications.argoproj.io/subscribe.on-deployed-github.pushover: ui6cxf78gwxa6n93zkwddw1g8s3yio
    argocd.argoproj.io/manifest-generate-paths: /kubernetes/apps/default/overseerr
spec:
  project: default
  sources:
  - repoURL: 'https://bjw-s.github.io/helm-charts'
    chart: app-template
    targetRevision: 3.4.0
    helm:
      valueFiles:
        - $values/kubernetes/apps/default/overseerr/app/values.yaml
  - repoURL: 'https://github.com/jimmy-ungerman/pork3s.git'
    targetRevision: main
    path: kubernetes/apps/default/overseerr
    ref: values
  destination:
    server: "https://kubernetes.default.svc"
    namespace: default
  syncPolicy:
    automated:
      prune: true
    syncOptions:
      - CreateNamespace=true