---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: cloudnative-pg
  namespace: database
spec:
  secretStoreRef:
    name: onepassword
    kind: ClusterSecretStore
  target:
    deletionPolicy: Delete
    name: cloudnative-pg-secret
    template:
      type: Opaque
      data:
        username: "{{ .USER }}"
        password: "{{ .ROOT_PASS }}"
  refreshInterval: 1h
  dataFrom:
    - extract:
        key: cloudnative-pg