---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: tailscale-operator
spec:
  chartRef:
    kind: OCIRepository
    name: tailscale-operator
  interval: 1h
  values:
    oauthSecretVolume:
      secret:
        secretName: &secret tailscale-operator-secret
    operatorConfig:
      podAnnotations:
        secret.reloader.stakater.com/reload: *secret