app-template:
  controllers:
    main:
      type: statefulset
      annotations:
        reloader.stakater.com/auto: "true"
      containers:
        app:
          image:
            repository: ghcr.io/recyclarr/recyclarr
            tag: 7.4.1
          env:
            TZ: America/Boise
          envFrom:
            - secretRef:
                name: radarr-secret
            # - secretRef:
            #     name: radarr4k-secret
            - secretRef:
                name: sonarr-secret
          resources:
            requests:
              cpu: 10m
              memory: 64M
            limits:
              memory: 128M

      pod:
        securityContext:
          runAsUser: 1000
          runAsGroup: 1000
          fsGroup: 1000
          fsGroupChangePolicy: OnRootMismatch
      statefulset:
        volumeClaimTemplates:
          - name: config
            accessMode: ReadWriteOnce
            size: 1Gi
            storageClass: rook-ceph-block
            globalMounts:
              - path: /config
  service:
    app:
      controller: main
      enabled: false
  persistence:
    config-file:
      type: configMap
      name: recyclarr-configmap
      globalMounts:
        - path: /config/recyclarr.yml
          subPath: recyclarr.yml
          readOnly: true