app-template:
  controllers:
    fstrim:
      type: cronjob

      cronjob:
        schedule: "0 0 * * 1"
        parallelism: 6 # Set this to your number of nodes
      pod:
        hostNetwork: true
        hostPID: true
        topologySpreadConstraints:
          - maxSkew: 1
            topologyKey: kubernetes.io/hostname
            whenUnsatisfiable: DoNotSchedule
            labelSelector:
              matchLabels:
                app.kubernetes.io/name: fstrim

      containers:
        app:
          image:
            repository: docker.io/library/alpine
            tag: 3.22
          command:
            - "/bin/sh"
            - "-c"
          args:
            - |
              nsenter --mount=/host/proc/$(pidof /usr/local/bin/kubelet)/ns/mnt --net=/host/proc/$(pidof /usr/local/bin/kubelet)/ns/net -- sh -c "cat /proc/self/mountinfo | grep -v kubelet | grep -v tmpfs | grep -v overlay > /tmp/fs.txt"
              nsenter --mount=/host/proc/$(pidof /usr/local/bin/kubelet)/ns/mnt --net=/host/proc/$(pidof /usr/local/bin/kubelet)/ns/net -- sh -c "fstrim -v --quiet-unsupported -I /tmp/fs.txt"
          probes:
            liveness:
              enabled: false
            readiness:
              enabled: false
            startup:
              enabled: false
          resources:
            requests:
              cpu: 25m
              memory: 128Mi
            limits:
              memory: 128Mi
          securityContext:
            privileged: true

  persistence:
    procfs:
      type: hostPath
      hostPath: /proc
      hostPathType: Directory
      globalMounts:
        - path: /host/proc
          readOnly: true
    netfs:
      type: hostPath
      hostPath: /sys
      hostPathType: Directory
      globalMounts:
        - path: /host/net
          readOnly: true