app-template:
  controllers:
    main:
      type: statefulset
      annotations:
        reloader.stakater.com/auto: "true"
      containers:
        app:
          image:
            repository: ghcr.io/onedr0p/sabnzbd
            tag: 4.4.1@sha256:36674664a94760ae934c09b1d97546a3e79a0f110edda88085e74778c26d68e3
          env:
            TZ: America/Boise
            SABNZBD__PORT: &port 80
            SABNZBD__HOST_WHITELIST_ENTRIES: >-
              sabnzbd,
              sabnzbd.default,
              sabnzbd.default.svc,
              sabnzbd.default.svc.cluster,
              sabnzbd.default.svc.cluster.local,
              sabnzbd.porkboi.io
          probes:
            liveness: &probes
              enabled: true
              custom: true
              spec:
                httpGet:
                  path: /api?mode=version
                  port: *port
                initialDelaySeconds: 0
                periodSeconds: 10
                timeoutSeconds: 1
                failureThreshold: 3
            readiness: *probes
      pod:
        securityContext:
          runAsUser: 568
          runAsGroup: 568
          fsGroup: 568
          fsGroupChangePolicy: OnRootMismatch
          supplementalGroups: [10000]
  service:
    app:
      controller: main
      ports:
        http:
          port: *port
  ingress:
    app:
      enabled: true
      className: nginx
      annotations:
        nginx.ingress.kubernetes.io/auth-url: |-
            http://authentik-server.default.svc.cluster.local:80/outpost.goauthentik.io/auth/nginx        
        nginx.ingress.kubernetes.io/auth-signin: |-
            https://sabnzbd.porkboi.io/outpost.goauthentik.io/start?rd=$scheme://$http_host$escaped_request_uri
        nginx.ingress.kubernetes.io/auth-response-headers: |-
            Set-Cookie,X-authentik-username,X-authentik-groups,X-authentik-email,X-authentik-name,X-authentik-uid
        nginx.ingress.kubernetes.io/auth-snippet: |
            proxy_set_header X-Forwarded-Host $http_host;
      hosts:
        - host: &host "sabnzbd.porkboi.io"
          paths:
            - path: /
              service:
                identifier: app
                port: http
            - path: /outpost.goauthentik.io
              pathType: ImplementationSpecific
              service:
                name: authentik-server
                port: 80
      tls:
        - hosts:
            - *host

  persistence:
    config:
      existingClaim: sabnzbd
      globalMounts:
         - path: /config
    tmp:
      type: emptyDir
    media:
      type: nfs
      server: nas.porkboi.io
      path: /mnt/earth/media
      globalMounts:
        - path: /media